.container {  
  text-align: center;
  justify-content: center; /* Horizontal */
  align-items: center;     /* Vertical */
}

.sameline {  
  display: flex;
  justify-content: center; /* Horizontal */
  align-items: center;     /* Vertical */
  gap: 10px;
}


.submit {
  background-color: rgb(26, 185, 26);
  border-color: greenyellow;
  margin: 10px;
}